

<form method="get">
    <input type="search" class="form-control" name="q" placeholder="Product name" />
    <button type="submit" class="btn btn-primary mt-2" asp-action="Search"> Search </button>
</form>