<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

<div style='text-align:center; margin:10rem;'>
    <h3 style='color:chocolate;'>
        The price of <strong style="color:cornflowerblue;"> {productName} </strong>  has dropped.
        <br> The price when you subscribed: <strong style="color:cornflowerblue;">{beforePrice} <i class="fa fa-try" aria-hidden="true"></i></strong>
        <br> Current price : <strong style="color:cornflowerblue;"> {currentPrice} <i class="fa fa-try" aria-hidden="true"></i></strong>
    </h3>
</div>