@model ProductPriceViewModel
@{

    ViewData["Title"] = "Detail";
    var product = Model;
    var chartModel = new ChartViewModel
            {
                Products = ViewData["Products"].ToString(),
                Dates = ViewData["Dates"].ToString(),
                Prices = ViewData["Prices"].ToString()
            };

}
<div class="text-center" style="width:200px;margin:0 auto">

    <img src="@product.Image" alt="Product Image" />
    <h5>@product.Name</h5>

</div>



@section Scripts
{
    @await Html.PartialAsync("_ChartPartial", chartModel)

}