@model LoginModel
@{
    var returnUrl = Context.Request.Query["returnUrl"];
}

@section Styles
{
<style>
    div.mb-3 > span {
        color: red;
    }
</style>
}


<h3>Login page</h3>

<div asp-validation-summary="ModelOnly"></div>
<form method="post">
    <input type="hidden" value="@returnUrl" name="returnUrl" />
    <div class="mb-3">
        <label asp-for="Email" class="form-label">Email address</label>
        <input class="form-control" asp-for="Email">
        <span asp-validation-for="Email"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Password" class="form-label"> Password</label>
        <input asp-for="Password" type="password" class="form-control">
        <span asp-validation-for="Password"></span>
    </div>

    <button type="submit" class="btn btn-primary" asp-action="Login">Login</button>
    <button type="submit" class="btn btn-success" asp-action="LoginWithDemoAccount">Demo Account</button>

    @if (ViewData["Message"] != null)
    {
        <span class="alert alert-danger">@ViewData["Message"]</span>
    }
</form>